DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
JARVICE_ADMIN_CODE=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TWILIO_TO_NUMBER=

# Administrador inicial de Jarvice
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@jarvice.local
DJANGO_SUPERUSER_PASSWORD=CAMBIAR_POR_UNA_CONTRASENA_SEGURA