{% extends "mi_app_salud/base.html" %}

{% block contenido %}

{% include "mi_app_salud/componentes/header.html" %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Jarvice Health AI</title>

{% load static %}

<link rel="stylesheet" href="{% static 'mi_app_salud/css/inicio.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">


<style>


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



body{

    font-family:'Inter',sans-serif;

    background:
    radial-gradient(circle at top,#123f72 0%,#08182d 40%,#040b16 100%);

    color:white;

    min-height:100vh;

    overflow-x:hidden;

}

/* =============================
   NAVBAR JARVICE PRO
============================= */


.bottomnav{

    position:fixed;

    bottom:20px;

    left:50%;

    transform:translateX(-50%);

    width:90%;

    max-width:600px;

    height:75px;

    background:

    rgba(10,25,45,.75);

    backdrop-filter:blur(20px);

    border-radius:30px;

    display:flex;

    justify-content:space-around;

    align-items:center;

    border:1px solid rgba(139,233,255,.25);

    box-shadow:

    0 0 30px rgba(0,212,255,.15);

    z-index:1000;

}



.navitem{

    text-decoration:none;

    color:#bfe9ff;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    gap:5px;

    font-size:12px;

    font-weight:700;

    transition:.3s;

    width:70px;

}



.navitem span:first-child{

    font-size:28px;

}



.navitem:hover{

    color:#8be9ff;

    transform:translateY(-8px);

}



.navitem.active{

    color:#00ff99;

}



.navitem.active span:first-child{

    filter:

    drop-shadow(0 0 10px #00ff99);

}



</style>

{% include "mi_app_salud/componentes/control_jarvice.html" %}

{% include "mi_app_salud/componentes/ecg.html" %}

{% include "mi_app_salud/componentes/dashboard_signos.html" %}

{% include "mi_app_salud/componentes/organos.html" %}

{% include "mi_app_salud/componentes/centro_ia.html" %}

{% include "mi_app_salud/componentes/diagnostico_ia.html" %}

{% include "mi_app_salud/componentes/news2.html" %}

{% include "mi_app_salud/componentes/estado_general.html" %}

{% include "mi_app_salud/componentes/navbar.html" %}


<script src="{% static 'mi_app_salud/js/inicio.js' %}"></script>

{% endblock %}