<!-- SIGNOS VITALES -->


<div class="dashboard">


<div class="minicard">

<div class="icono">🧠</div>

<div class="dato" id="scoreIA">
0
</div>

<div class="label">
NEWS2 IA
</div>

</div>




<div class="minicard">

<div class="icono">❤️</div>

<div class="dato" id="pulso">
78 BPM
</div>

<div class="label">
Pulso
</div>

</div>





<div class="minicard">

<div class="icono">🌡️</div>

<div class="dato" id="temp">
36.5 °C
</div>

<div class="label">
Temperatura
</div>

</div>




<div class="minicard">

<div class="icono">🩸</div>

<div class="dato" id="oxi">
98 %
</div>

<div class="label">
Oxígeno
</div>

</div>





<div class="minicard">

<div class="icono">🫁</div>

<div class="dato" id="resp">
16 rpm
</div>

<div class="label">
Respiración
</div>

</div>





<div class="minicard">

<div class="icono">🩺</div>

<div class="dato">
120 / 80
</div>

<div class="label">
Presión
</div>

</div>




<div class="minicard">

<div class="icono">📍</div>

<div class="dato">
Activo
</div>

<div class="label">
GPS
</div>

</div>





<div class="minicard">

<div class="icono">🤖</div>

<div class="dato" id="iaEstado">
ESTABLE
</div>

<div class="label">
IA Clínica
</div>

</div>



</div>
