<!-- NAVEGACION -->

<nav class="bottomnav">

<a href="{% url 'inicio' %}" class="navitem active">
    <span>🏠</span>
    Inicio
</a>


<a href="{% url 'dashboard' %}" class="navitem">
    <span>🤖</span>
    Jarvice
</a>


<a href="{% url 'pacientes' %}" class="navitem">
    <span>👥</span>
    Pacientes
</a>


<a href="{% url 'crear_paciente' %}" class="navitem">
    <span>🧬</span>
    Paciente
</a>


<a href="{% url 'seguridad' %}" class="navitem">
    <span>🛡</span>
    Seguridad
</a>


<a href="{% url 'logout' %}" class="navitem">
    <span>🚪</span>
    Salir
</a>

</nav>