<!-- ORGANOS -->


<div class="dashboard">


<div class="minicard">

<div class="icono">❤️</div>

<div class="dato">
🟢
</div>

<div class="label">
Cardíaco
</div>

</div>




<div class="minicard">

<div class="icono">🫁</div>

<div class="dato">
🟢
</div>

<div class="label">
Respiratorio
</div>

</div>




<div class="minicard">

<div class="icono">🩸</div>

<div class="dato">
🟢
</div>

<div class="label">
Perfusión
</div>

</div>




<div class="minicard">

<div class="icono">🌡️</div>

<div class="dato">
🟢
</div>

<div class="label">
Infección
</div>

</div>


</div>